# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
# Pods/
Example/Podfile.lock
Example/Pods/Manifest.lock
Example/Pods/Local Podspecs/BBAPainterDemo.podspec.json
Example/Pods/Pods.xcodeproj/project.pbxproj
Example/Pods/Target Support Files/BBAPainterDemo/BBAPainterDemo-dummy.m
Example/Pods/Target Support Files/BBAPainterDemo/BBAPainterDemo-Info.plist
Example/Pods/Target Support Files/BBAPainterDemo/BBAPainterDemo-prefix.pch
Example/Pods/Target Support Files/BBAPainterDemo/BBAPainterDemo-umbrella.h
Example/Pods/Target Support Files/BBAPainterDemo/BBAPainterDemo.modulemap
Example/Pods/Target Support Files/BBAPainterDemo/BBAPainterDemo.xcconfig
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Example/Pods-BBAPainterDemo_Example-acknowledgements.markdown
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Example/Pods-BBAPainterDemo_Example-acknowledgements.plist
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Example/Pods-BBAPainterDemo_Example-dummy.m
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Example/Pods-BBAPainterDemo_Example-frameworks.sh
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Example/Pods-BBAPainterDemo_Example-Info.plist
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Example/Pods-BBAPainterDemo_Example-umbrella.h
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Example/Pods-BBAPainterDemo_Example.debug.xcconfig
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Example/Pods-BBAPainterDemo_Example.modulemap
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Example/Pods-BBAPainterDemo_Example.release.xcconfig
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Tests/Pods-BBAPainterDemo_Tests-acknowledgements.markdown
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Tests/Pods-BBAPainterDemo_Tests-acknowledgements.plist
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Tests/Pods-BBAPainterDemo_Tests-dummy.m
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Tests/Pods-BBAPainterDemo_Tests-Info.plist
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Tests/Pods-BBAPainterDemo_Tests-umbrella.h
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Tests/Pods-BBAPainterDemo_Tests.debug.xcconfig
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Tests/Pods-BBAPainterDemo_Tests.modulemap
Example/Pods/Target Support Files/Pods-BBAPainterDemo_Tests/Pods-BBAPainterDemo_Tests.release.xcconfig
